<link href='https://fonts.googleapis.com/css?family=Lato|Roboto:400,900' rel='stylesheet' type='text/css'>

<div class="blog-top-content-holder relative">
    <center><div class="img-responsive">
    	<img src="images/logo.png">
    </div></center>
    <div class="header-holder">
        <div class="toggle-holder relative right">
            <div id="toggle" class="">
                <div class="first-menu-line"></div>
                <div class="second-menu-line"></div>
                <div class="third-menu-line"></div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="blog-top-content content-1170 center-relative center-text relative">
        <h1 href="index.html">Kubeर</h1>
       	<p class="site-description">It’s time to - Think Outside The Bank</p>
    
            <a href="/lend" class="btn">
            <svg width="277" height="62">
            <defs>
                <linearGradient id="grad1">
                    <stop offset="0%" stop-color="#cfecfa"/>
                    <stop offset="100%" stop-color="#b4c3fa" />
                </linearGradient>
            </defs>
            <rect x="5" y="5" rx="25" fill="none" stroke="url(#grad1)" width="266" height="50"></rect>
            </svg>
            <span>Lend</span>
            </a>    

            <a href="/borrow" class="btn">
            <svg width="277" height="62">
            <defs>
                <linearGradient id="grad2">
                    <stop offset="0%" stop-color="#b4c3fa"/>
                    <stop offset="100%" stop-color="#cfecfa" />
                </linearGradient>
            </defs>
            <rect x="5" y="5" rx="25" fill="none" stroke="url(#grad2)" width="266" height="50"></rect>
            </svg>
            <span>Borrow</span>
            </a>    

    </div>

    <div class="clear"></div>
    
</div>
